.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-third);
    max-width: 250px;
    min-width: 40%;
    padding: 12px;
    border-radius: 50px;
}

.TodoItem p {
    padding: 6px;
}

/* Conditional CSS rendering */
.TodoItem .TodoItem__check {
    color: green;
    text-decoration: line-through;
}