.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-primary);
    max-width: 250px;
    min-width: 40%;
    padding: 12px;
    border-radius: 50px;
}

/* Conditional CSS rendering */
.TodoItem .TodoItem__check {
    color: green;
    text-decoration: line-through;
}