@import './_typographic.css';
@import './_colors.css';
@import './_buttons.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#root {
    padding: 60px 20px;
}
.App {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 20px;
    max-width: 80%;
    margin: 0 auto;
    border:  5px solid var(--color-third);
    border-radius: 20px;
    box-shadow: 0 9px 30px rgb(0 0 0 / 0.5);
}

.TodoList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.TodoSearch {
    border-radius: 15px;
    width: 60%;
    padding: 12px;
    margin: 0 100px;
    border-color: var(--color-primary);
    text-align: center;
    font-size: 14px;
}